<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <base href="/">
    <title>TicTacToe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
</head>

<body ng-app="app" ng-controller="gameController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container"  >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="api/game">Game</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> login</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-user"></span> logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ng-view></ng-view>
    
    <!-- JS -->
    <script src="assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="assets/lib/angular/angular.min.js"></script>
    <script src="assets/lib/angular-route/angular-route.min.js"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ANGULAR -->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/appRoutes.js"></script>
    <script src="assets/js/controllers/gameCtrl.js"></script>
    <script src="assets/js/controllers/authCtrl.js"></script>
</body>

</html>